/*
 * Globals
 */

body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color:white;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  position:relative;
}

.blog-title {
  margin-top: 250px;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: bold;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  text-align: center;
  background-color: white;  
  height:200px;  
}


/*
 * === My css ===
 */
 
/* Resume Page CSS */
#resume-iframe {
  height: 100vh;
  width: 100%;
  background-color:white;
}
/* End of Resume Page CSS */


.arrow {
    position:absolute;
    bottom:200px;
    left: 0; 
    right: 0;  
    margin: auto;   
    height:60px;
    width:60px;
    background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg=='); 
    background-size:100%;
    border:transparent;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
  }

.bounce{
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
} 

  
@-webkit-keyframes bounce {
  0%       { bottom:200px; }
  50%      { bottom:185px; }
  100%     {bottom:170;}
}

@-moz-keyframes bounce {
    0%       { bottom:200px; }
  50%      { bottom:185px; }
  100%     {bottom:170;}
}

@-o-keyframes bounce {
    0%       { bottom:200px; }
  50%      { bottom:185px; }
  100%     {bottom:170;}
}

@keyframes bounce {
    0%       { bottom:200px; }
  50%      { bottom:185px; }
  100%     {bottom:170;}
}

.blog-btn{
  position:absolute;
  height:50px;
  width:100px;
  right:116px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  border-color:transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.resume-btn{
  position:absolute;
  height:50px;
  width:100px;
  right:10px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  border-color:transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.blog-btn:hover{
  color:black;
  background-color:yellow;
}

.blog-btn:focus{
  background-color:#262626;
  color:aliceblue;
}

.resume-btn:hover{
  color:black;
  background-color:yellowgreen;
}

.astar-btn{
  position:absolute;
  margin-right:50px;
  color:black;
  /* background-color:olivedrab; */
  background-color:transparent;
  border-width:5px;
  font-size:30px;
  border-color:aliceblue;
  line-height: 80px;
  white-space: normal;
}

.astar-btn:hover{
  color: black;
  background-color:aliceblue;
}

.jumbotron{
  padding:50px;
  margin:50px;
}

.outer{
  display:flex;
  justify-content: center;
  padding: 3px;
}


.icon{
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.iconContainer{
   z-index:100; 
  position:fixed; 
  /* border: 2px solid white;  */
  height:55px;
   width:340px; 
   right:0px; 
   top:10px; 
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s; 
}

/*section*/
.topSection{
  position:relative;
  background-size:cover;
  background-repeat: no-repeat;
  height:800px;
  background-attachment:fixed;
  top:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* ================== Intro Section ====================== */
#backpic{
  src:"images/professional.jpeg";
  max-width:100%;
  max-height:100%;
  margin-top: 40px;
  border-radius: 10px;
}

#personalpic {
  src:"images/personal.jpg";
  max-width:65vw;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#intro{
  width:0vw;
  padding: 30px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#personal{
  width:0vw;
  padding: 30px;
  margin-bottom: 50px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#intro-paragraph{
  font-size:15pt;
  color:black;
}

#intro h2{
  line-height:80px;
  font-size:28pt;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color:black;
}

#description p {
  /* font-family: monaco, Consolas, "Lucida Console", monospace; */
   /* font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;  */
  position:absolute;
  left:0;
  right:0;
  margin:350px auto;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s; 
  -ms-animation: fadein 4s; 
  -o-animation: fadein 4s; 
  animation: fadein 4s;
} 

#description h1 {
  position:absolute;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width:700px;
  height: 90px;
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.00em; /* Adjust as needed */
  right:0;   
  left:0;  
  margin:250px auto; 
  animation: 
    typing 2.0s steps(20, end),
    blink-caret 1s step-end infinite;
}

#blogSection{
  position:relative;
  height:700px;
}

#blogSec-title{
  position:absolute;
  top:-10px;
  left:0px;
	font-size:50px;
	color:white;
	margin:50px;
}

#blogSec-des{
  position:absolute;
	top:110px;
  left:50px;
}

#blogSecBg{
  height:700px;
  background:url('images/Backgrounds-dark-minimalist-wallpapers.jpg');
  background-size:cover;
  background-position-y:-130px;  
}

@keyframes typing{ 
   from { width: 0 }
  to { width: 700px }
} 

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to 
  { border-color: black; } 50% 
  { border-color: transparent }
}

.hideme{
    opacity:0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





/*==========  Non-Mobile First Method  ==========*/
/*Retina display*/
@media screen and (min-width: 400px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 30vw; */
  }
}

/*Retina display*/
@media screen and (min-width: 600px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 35vw; */
  }
}

/*Retina display*/
@media screen and (min-width: 800px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 40vw; */
  }
}

/*Retina display*/
@media screen and (min-width: 1024px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 45vw; */
  }
}

/*Retina display*/
@media screen and (min-width: 1200px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 50vw; */
  }
}

/*Retina display*/
@media screen and (min-width: 1400px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 53vw; */
  }
}

/*HD*/
@media screen and (min-width: 1500px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 55vw; */
  }
}

/*HD*/
@media screen and (min-width: 1700px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 60vw; */
  }
}

/*here*/
@media screen and (min-width: 1900px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    /* width: 90vw; */
  }
}




/*==========  Mobile First Method  ==========*/

/* iphone 5 */ 
@media only screen and (min-width : 320px) and (max-width: 359) {
	.topSection{
		background-size: 320px auto;
		height:100px;
	}
}

/* Galaxy S5  */
@media (min-width : 360px) and (max-width:374px){

/* ================== Top Section ====================== */
.topSection{
  /* background-size: auto 500px; */
  /* background-position: -200px 0px; */
  height:667px;
}

 @-webkit-keyframes bounce {
  0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
}

@-moz-keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
}

@-o-keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
} 

 @keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
} 

#description h1 {
width:250px;
margin:150px auto; 
}

#description p {
  margin:200px auto;
} 

@keyframes typing{ 
   from { width: 0 }
  to { width: 250px }
}

.blog-description{
  font-size:20px
}

.iconContainer{
  z-index:100;
  position:fixed;
  height:65px;
  top:0px;
  border: 2px solid transparent; 
  width:500px;
  right:0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.iconContainer .container{
  width: 280px;
  left:0px;
}

.iconContainer img{
  width: 30px;
  height : 30px;
  right: 20px;
}

.resume-btn{
  position:absolute;
  height:30px;
  width:80px;
  left:182px; 
  line-height: 5px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 13px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  border-color:transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}





/* ===================== Project Section =====================  */
.projectSection{
  height:1100px;
}

#proSecTitle{
  position:absolute;
  font-size:30px;
  color:white;
  margin:20px;
}

#proSecDes{
  position:absolute;
  font-size:16px;
  top:65px;
  left:20px;
  color:burlywood;
}

#astar img{
  height:200px;
  margin:10px 0px 10px 0px;
  float:top;
}

.projectOne{
  height:470px;
  top:50px;
  border-radius:10px;
}

#astarHead{
  font-size:30px;
  color:white;
}

#astarP{
  font-size:13px;
}

.astar-btn{
   font-size:20px; 
}

.projectTwo{
  height:470px;
  top:550px;
  border-radius:10px;
}

#linkHead{
  font-size:30px;
  color:white;
}

#linkP{
  font-size:13px;
}

#link-checker img{
  float:top;
  height:200px;
  margin:10px 0px 10px 0px;
}
}

/* iphone 6, 7 */ 
@media (min-width : 375px) and (max-width:479px){

/* ================== Top Section ====================== */
.topSection{
  height:667px;
}

 @-webkit-keyframes bounce {
  0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
}

@-moz-keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
}

@-o-keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
} 

 @keyframes bounce {
 0%       { bottom:150px; }
  50%      { bottom:145px; }
  100%     {bottom:140px;}
} 

#description h1 {
  height:40px;
  font-size:22.5pt;
  width:250px;
  margin:150px auto; 
}

#description p {
  margin:200px auto;
} 

@keyframes typing{ 
   from { width: 0 }
  to { width: 250px }
} 

.blog-description{
  font-size:20px
}

.iconContainer img{
  width: 30px;
  height : 30px;
  right: 20px;
}

.resume-btn{
  position:absolute;
  height:30px;
  width:80px;
  left:266px;
  line-height: 5px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 13px;
  border-color:transparent;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";  
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}



.blog-btn{
  position:absolute;
  height:30px;
  width:80px;
  left:182px;
  line-height: 5px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 13px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";  
  border-color:transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

/* ===================== Project Section =====================  */
.projectSection{
  height:1100px;
}

#proSecTitle{
  position:absolute;
  font-size:30px;
  color:white;
  margin:20px;
}

#proSecDes{
  position:absolute;
  font-size:16px;
  top:65px;
  left:20px;
  color:burlywood;
}

#astar img{
  height:200px;
  margin:10px 0px 10px 0px;
  float:top;
}

.projectOne{
  height:470px;
  top:50px;
  border-radius:10px;
}

#astarHead{
  font-size:30px;
  color:white;
}

#astarP{
  font-size:13px;
}

.astar-btn{
   font-size:20px; 
}

.projectTwo{
  height:470px;
  top:550px;
  border-radius:10px;
}

#linkHead{
  font-size:30px;
  color:white;
}

#linkP{
  font-size:13px;
}

#link-checker img{
  float:top;
  height:200px;
  margin:10px 0px 10px 0px;
}

/* ========== Bottom section ==========  */
#bottomIcon{
  position:fixed;
  bottom:70px;
  z-index:0;
  width:245px;
  left:0;
  right:0;
  margin: auto;
  display:none
}
}

/* Nexus 5X  */
@media (min-width : 412px) and (max-width:374px) {

}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



