/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 250px;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
  position:absolute;
  left:160px;
  top:90px
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: grey;
  border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * My css
 */
 
.resume-btn{
  position:absolute;
  height:50px;
  width:100px;
  right:10px;
  background-color:#262626;
  color:aliceblue;
  border-width:3px;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-color:transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.resume-btn:hover{
  color:black;
  background-color:aliceblue;
}

.astar-btn{
  position:absolute;
  margin-right:50px;
  color:aliceblue;
  background-color:olivedrab;
  border-width:5px;
  font-size:30px;
  border-color:aliceblue;
  line-height: 80px;
  white-space: normal;
}

.astar-btn:hover{
  color: black;
  background-color:aliceblue;
}

.jumbotron{
  padding:50px;
  margin:50px;
}

.outer{
  display:flex;
  justify-content: center;
  padding: 3px;
}


.icon{
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.iconContainer{
  z-index:100;
  position:fixed;
  height:65px;
  top:0px;
  border: 2px solid transparent; 
  width:400px;
  right:20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s;
}

.iconContainer .container{
  position:absolute;height:60px;width:395px;top:5px;left:5px
}

/*section*/
.topSection{
  position:relative;
  background:url('images/startup-593331_1280 2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height:800px;
  background-attachment:fixed;
  top:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.introSection{
  position:relative;
  background-color:white;
  height:800px;
  background:url('images/minimalist_tree-wallpaper-1440x900.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
  z-index: 50;
}

#backpic{
	src:"images/15726494_10208358139895004_9049946143911081375_n.jpg";
	height: 700px;
	position:absolute;
	margin:50px 50px 50px 0px ;
	max-width:40%;
}

#intro{
	position:absolute;
	background:#f5f5f5;
	margin:50px 0px 0px 50px;
	right:0;
	border-radius: 25px;
}

#intro p{
	font-size:13pt;
}

.projectSection{
  position:relative;
  background-color:black;
  height:1400px;
  background:url('images/pic_computersupport-e1475009415368.jpg');
  background-size:cover;
  box-shadow: 0px 10px 20px rgba(0,0,0,1);
  z-index: 40;
}

#proSecTitle{
	position:absolute;
	font-size:50px;
	color:white;
	margin:50px;
}

#proSecDes{
	position:absolute;
	top:110px;
	left:50px;
	color:burlywood;
}

/*===ProjectOne===*/
.projectOne{
  position:absolute;
  background:steelblue;
  background-color:rgba(0, 0, 0, 0.6);
  width:93%;
  height:540px;
  top:130px;
  margin:50px 50px 50px 0px;
  border-radius:25px;
  z-index:80;
  box-shadow: 0px 2px 20px black;
  -webkit-animation: all 0.4s ease; 
       -moz-animation: all 2s ease; 
        -ms-animation: all 2s ease; 
         -o-animation: all 2s ease; 
            animation: all 2s ease;
}

.projectOne .container{
  width:100%;height:100%;overflow:hidden;text-overflow:ellipsis;border:2px solid transparent
}

#astarHead{
	font-size:50px;
	color:white;
}

#astar img{
	float:left;
	height:400px;
	margin:60px;
}
/*===End of projectOne===*/


/*===ProjectTwo===*/
.projectTwo{
  position:absolute;
  background:steelblue;
  background-color:rgba(0, 0, 0, 0.6);
  width:93%;
  height:540px;
  top:750px;
  right:0px;
  margin:50px 0px 50px 50px;
  border-radius:25px;
  z-index:80;
  box-shadow: 0px 2px 20px black;
  -webkit-animation: fadein 2s ease; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s ease;
}
        
.projectTwo .container{
  width:100%;height:100%;overflow:hidden;text-overflow:ellipsis;border:2px solid transparent
}

#linkHead{
	font-size:50px;
	color:white;
}

#link-checker img{
	float:right;
	height:400px;
	margin:60px;
}
/*===End of projectTwo===*/

/*navbar*/
nav.navbar{
  background-color:black;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.7);
  min-height:60px;
  z-index:90;
  opacity: 0;
  border: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 45px;
  opacity: 0;
}

#description p {
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

#description h1 {
   -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.hideme
{
    opacity:0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





/*==========  Non-Mobile First Method  ==========*/
/*Retina display*/
@media screen and (min-width: 400px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 30vw;
  }
}

/*Retina display*/
@media screen and (min-width: 600px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 35vw;
  }
}

/*Retina display*/
@media screen and (min-width: 800px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 40vw;
  }
}

/*Retina display*/
@media screen and (min-width: 1024px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 45vw;
  }
}

/*Retina display*/
@media screen and (min-width: 1200px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 50vw;
  }
}

/*Retina display*/
@media screen and (min-width: 1400px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 53vw;
  }
}

/*HD*/
@media screen and (min-width: 1500px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 55vw;
  }
}

/*HD*/
@media screen and (min-width: 1700px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 60vw;
  }
}

/*HD*/
@media screen and (min-width: 1900px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #intro{
    width: 65vw;
  }
}




/*==========  Mobile First Method  ==========*/

/* iphone 5 */ 
@media only screen and (min-width : 320px) and (max-width: 374) {
	.topSection{
		background-size: 320px auto;
		height:100px;
	}
}

/* iphone 6, 7 */ 
@media (min-width : 375px) and (max-width:479px){
	.topSection{
		background-size: auto 500px;
		background-position: -200px 0px;
		height:500px;
	}
	
	.blog-title{
		margin-top: 50px;
		margin-bottom: 0;
		font-size: 40px;
		font-weight: normal;
	}

	.blog-description{
		font-size:20px
	}

	.iconContainer{
		z-index:100;
		position:fixed;
		height:65px;
		top:0px;
		border: 2px solid transparent; 
		width:280px;
		right:0px;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s;
	}
	
	.iconContainer .container{
		width: 280px;
		left:0px;
	}

	.iconContainer img{
		width: 30px;
		height : 30px;
		right: 20px;
	}

	.resume-btn{
		position:absolute;
		height:30px;
		width:80px;
		left:182px;
		line-height: 5px;
		background-color:#262626;
		color:aliceblue;
		border-width:3px;
		font-size: 13px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		border-color:transparent;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s;
	}

	.introSection{
		height:510px;
		background:url('images/15726494_10208358139895004_9049946143911081375_n.jpg');
		background-size:cover;
		background-repeat: no-repeat;
		box-shadow: 10px 10px 20px rgba(0,0,0,0.8);
		z-index: 50;
	}

	#backpic{
		display:none;
	}

	#intro {
		position:absolute;
		background:rgba(0, 0, 0, 0.6);
		margin:10px 0px 0px 10px;
		width:355px;
		right:0;
		border-radius: 25px;
		padding:20px;
	}

	#intro img{
		width:40px;
		height:40px;
	}

	#intro .blog-post-title{
		margin-bottom: 5px;
		font-size: 20px;
		color:azure;
		position:absolute;
		left:80px;
		top:35px
	}

	#intro p{
		font-size: 11pt;
		color:azure;
	}

	.projectSection{
		height:1100px;
	}

	#proSecTitle{
		position:absolute;
		font-size:30px;
		color:white;
		margin:20px;
	}

	#proSecDes{
		position:absolute;
		font-size:16px;
		top:65px;
		left:20px;
		color:burlywood;
	}

	#astar img{
		height:200px;
		margin:10px 0px 10px 0px;
		float:top;
	}

	.projectOne{
		height:470px;
		top:50px;
		border-radius:10px;
	}

	#astarHead{
		font-size:30px;
		color:white;
	}

	.astar-btn{
		position:absolute;
		margin-right:50px;
		color:aliceblue;
		background-color:olivedrab;
		border-width:5px;
		font-size:20px;
		padding:5px;
		border-color:aliceblue;
		line-height: 80px;
		white-space: normal;
	}

	.projectTwo{
		height:470px;
		top:550px;
		border-radius:10px;
	}

	#linkHead{
		font-size:30px;
		color:white;
	}

	#link-checker img{
		float:top;
		height:200px;
		margin:10px 0px 10px 0px;
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}